body {
    background: #f5e8f4;
    
}

body img {
    width: 500px;
    height: 313px;
}

#centro-distribuicao img{
    width: 900px;
    height: 507px;
}

#familia-pelho img{

    width: 450px;
    height: 577px;
}


footer{
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr;
    gap: 20px;

}

footer img {
    width: 300px;
    height: 188px;
}